[package]
name = "path-intellisense"
version = "0.1.0"
edition = "2024"

[workspace]
members = [
    ".",
    "path-server"
]

[lib]
crate-type = ["cdylib"]

[dependencies]
zed_extension_api = "0.7.0"
